{{#each books as |book|}}
  <h1> <small>Title: {{book.title}} by
    {{#if book.author}}
      {{book.author}}
    {{else}}
      <span class='ricks-class'>Anonymous</span>
    {{/if}}
  </small></h1>
  <div>
    {{#if book.description}}
      {{book.description}}
    {{else}}
      No description.
    {{/if}}
    <button class='delete-book' data={{book.id}}>
      Delete Book {{book.id}}
    </button>
  </div>
{{/each}}
